doctype html
head
  title Test Server
  link(rel='stylesheet', href='/stylesheets/app.css')
bodfy
  .app
    h1 Test Stuff
    .sidebar
      p This is the sidebar
    .content
      p This is the content
  script(src='/bundle.js')
